@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #2a9d8f;
}
#main {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: #f1faee;
}

.inner-container {
  width: auto;
  padding: 20px;
  background-color: #264653;
  border-radius: 20px;
}

.task {
  width: 420px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  font-size: medium;
  margin: 5px 0;
  padding: 10px;
  box-sizing: border-box;
}

.edit {
  width: 250px;
  height: 35px;
}

.btn {
  cursor: pointer;
  height: 35px;
  width: 60px;
  border-radius: 10px;
  outline: none;
  background-color: #e76f51;
  border: 2px solid #e76f51;
  color: white;
  margin-left: 5px;
}

.list {
  padding: 10px 20px;
  background-color: #f4a261;
  border-bottom: 4px solid #e76f51;
  margin: 5px;
  border-radius: 20px;
}
#editTask {
  display: inline-block;
  width: 250px;
  height: 30px;
  color: #f1faee;
}
